body {
    font-family: Georgia, serif;
    font-size: small;
    line-height: 1.75em;
    background-image: url(images/BG_Background.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.info, h1, h2, p {
    text-align: center;
}

h1, h2 {
    color: purple;
}

h1 {
    font: bold 1.5em "Marko One", Georgia, serif;
    color: purple;
    text-shadow: .1em .1em .2em lightslategray;
}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: purple;
}

h1, h2, #info {
    text-align: center;
}

h2 + p {
    text-align: center;
    font-style: italic;
}

.info_text {
    color: olive;
}

#info p {
    font-style: italic;
    color: gray;
}

.warning {
    color: red;
    text-align: left;
}

dt {
    color: darkorange;
}

.price {
    color: olive;
    font-style: italic;
}

.new {
    color: firebrick;
}

.desc {
    font-style: italic;
}

dt, dd {
    padding-top: 5px;
}

dt {   
    font-weight: bold;
    color: sienna;
}
